@import "tailwindcss";

@layer base {
  body {
    @apply bg-[#020617] text-slate-200 antialiased;
  }
}

.animate-spin-slow {
  animation: spin 6s linear infinite;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
